
<div class="jumbotron flex-center">
  <h1 class="display-3">Hello,this is my lib project!</h1>
  <p class="lead">This lib contain many usefull component ,for angular bootstrap  web project </p>
  <hr class="my-4">
  <div class="my-4 card d-flex flex-row flex-wrap justify-content-between">
    <div class="card text-white bg-primary mr-5 mt-2" style="max-width: 20rem;">
      <div class="card-header">Wizard </div>
      <div class="card-body">
        <h4 class="card-title">Wizard without using any library</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-secondary mr-5 mt-2" style="max-width: 20rem;">
      <div class="card-header">Wizard</div>
      <div class="card-body">
        <h4 class="card-title">Wizard using wizard library</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-success mr-5 mt-2 mb-2" style="max-width: 20rem;">
      <div class="card-header">Compoments </div>
      <div class="card-body">
        <h4 class="card-title">Tabs, buttons ,cards,..</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card text-white bg-danger mr-5 mt-2 mb-2 " style="max-width: 20rem;">
      <div class="card-header">Animation</div>
      <div class="card-body">
        <h4 class="card-title">svg animation </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>



  </div>
</div>
