<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link active" href="#GInfo">General information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#PInfo">Personal information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#PaymentInfo" data-toggle="tab" aria-controls="step1" role="tab" title="payment">Payement information</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#Confirmation" data-toggle="tab" aria-controls="step1" role="tab">Confirmation</a>
  </li>
</ul>
