<ul class="nav nav-tabs d-flex justify-content-between wizzardtab">
  <li><a class="nav-link" id="adress" routerLink="/wizzard/adress">Adress <span class="sr-only">(current)</span></a></li>
  <li><a class="nav-link" id="info" routerLink="/wizzard/info">General information <span class="sr-only">(current)</span></a></li>
  <li><a class="nav-link" id="comments" routerLink="/wizzard/comments">Comments <span class="sr-only">(current)</span></a></li>
  <li><a class="nav-link" id="finish" routerLink="/wizzard/finish">Finish <span class="sr-only">(current)</span></a></li>
</ul>

